<div class="d-flex justify-content-center">
    <img src="https://i.imgur.com/XLI3mxw.gif" alt="Hello" >

</div>
<LinkTo @route='each-character' class="d-flex justify-content-center">View list of pokemon</LinkTo>